@media (max-width: 1200px){
    /* main */
    .col-4 {
        width: var(--col-6);
    }

    .card {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }

    .burger__list {
        justify-content: center;
    }

    .burger__link {
        margin: 0 25px;
    }

    /* main end */
}

@media (max-width: 992px){
    /* header */
    .header__title{
        font-size: 60px;
    }
    /* header end */
}

@media (max-width: 768px){
    /* header */
    .nav .container {
        flex-direction: column;
    }

    .nav__list {
        margin: 15px 0px;
    }

    .nav__link {
        height: 70px;
    }

    .header {
        padding: 15px 0;
    }

    .header__title {
        font-size: 46px;
    }

    .header__subtitle{
        font-size: 32px;
    }

    .header__text {
        margin: 30px 0;
    }

    .header__price {
        font-size: 60px;
        padding: 15px 70px; 
    }
    /* header end */

    /* main */
    .col-4 {
        width: var(--col-12);
    }

    .burger__link {
        margin: 5px 30px;
        display: inline-block;
    }
    /* main end */

    /* footer */

    .footer__link {
        margin: 5px 25px;
        display: inline-block;
    }


    /* footer end */
}

@media (max-width: 576px){
    /* header */
    .nav__link{
        font-size: 16px;
        width: auto;
        height: 50px;
        padding: 0 5px;
    }

    .nav__span{
        min-width: 20px;
        min-height: 20px;
    }

    .header__price{
        font-size: 40px;
        padding: 10px 50px;
    }
    /* header end */
    
    /* main  */

    .card {
        width: 290px;
    }

    .card__link {
        width: 290px;
        height: 290px;
    }

    .card__image {
        width: 100%;
        height: 100%;
    }

    .section-title {
        font-size: 32px;
    }

    .recipe__text {
        font-size: 16px;
    }

    .branch__map {
        height: 400px;
    }

    /* main end */

    /* footer */

    .footer .container {
        flex-direction: column;
    }

    .phone {
        margin-top: 20px;
    }

    .footer__text {
        padding: 0 15px;
    }


    /* footer end */
}