*:root{
    --green: #69cf17;
    --darkgreen: #4e9f0d;
    --green-75: rgba(106, 207, 23, 0.75);
    --white: #fff;
    --black: #060002;
    --lightgray: #dedede;
    --gray: #7a7a7a;
    --shadow-gray: rgba(30, 30, 30, 0.15);

    --col-1: calc(100% / 12);
    --col-2: calc(100% / 12 * 2);
    --col-3: calc(100% / 12 * 3);
    --col-4: calc(100% / 12 * 4);
    --col-5: calc(100% / 12 * 5);
    --col-6: calc(100% / 12 * 6);
    --col-7: calc(100% / 12 * 7);
    --col-8: calc(100% / 12 * 8);
    --col-9: calc(100% / 12 * 9);
    --col-10: calc(100% / 12 * 10);
    --col-11: calc(100% / 12 * 11);
    --col-12: 100%;
}

.col-1{
    width: var(--col-1);
    padding: 0 15px;
}
.col-2{
    width: var(--col-2);
    padding: 0 15px;
}
.col-3{
    width: var(--col-3);
    padding: 0 15px;
}
.col-4{
    width: var(--col-4);
    padding: 0 15px;
}
.col-5{
    width: var(--col-5);
    padding: 0 15px;
}
.col-6{
    width: var(--col-6);
    padding: 0 15px;
}
.col-7{
    width: var(--col-7);
    padding: 0 15px;
}
.col-8{
    width: var(--col-8);
    padding: 0 15px;
}
.col-9{
    width: var(--col-9);
    padding: 0 15px;
}
.col-10{
    width: var(--col-10);
    padding: 0 15px;
}
.col-11{
    width: var(--col-11);
    padding: 0 15px;
}
.col-12{
    width: var(--col-12);
    padding: 0 15px;
}

.container{
    width: 100%;
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.d-flex{
    display: flex;
}

.justify-content-start{
    justify-content: flex-start;
}
.justify-content-end{
    justify-content: flex-end;
}
.justify-content-between{
    justify-content: space-between;
}
.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}
.align-items-end{
    align-items: flex-end;
}
.align-items-start{
    align-items: flex-start;
}

.flex-column{
    flex-direction: column;
}
.flex-wrap{
    flex-wrap: wrap;
}

.flex-grow-1{
    flex-grow: 1;
}

.text-center{
    text-align: center;
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

body{
    font-family: 'Raleway', sans-serif;
}

/* header */

.header{
    background: url(' ../img/header-bg.jpg') no-repeat center / cover;
    min-height: 100vh;
    
}

/* nav link */

.nav__link{
    color: var(--green);
    font-weight: 300;
    font-size: 20px;
    width: 125px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.nav__link:hover{
    color: var(--white);
    background: var(--green-75);
}

.nav__span{
    color: var(--green);
    background: var(--white);
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    margin-left: 5px; 
}

.logo{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    color: var(--white);
    background: var(--darkgreen);
    border: 3px solid var(--green);
    border-radius: 5px;
    padding: 5px 20px;
    line-height: 0.8;
    box-shadow: inset 4px 4px 5px 0 var(--shadow-gray);
}

/* nav link end */

/* header main */

.header__title{
    font-weight: 900;
    font-size: 72px;
    color: var(--green);
    text-transform: uppercase;
    line-height: 0.9;
}

.header__subtitle{
    font-size: 36px;
    text-transform: uppercase;
    color: var(--green);
}

.header__text{
    font-size: 18px;
    color: var(--lightgray);
    line-height: 1.2;
    margin: 30px 0 75px;
}

.header__price{
    font-weight: 100;
    font-size: 60px;
    color: var(--white);
    background: var(--green-75);
    display: inline-block;
    padding: 25px 90px;
}

/* header main end */

/* header end */


/* burger */
    .burger {
        background: var(--black);
        padding: 50px 0;
    }

    .burger__list {
        margin-bottom: 70px;
    }

    .burger__link {
        margin-right: 50px;
        color: var(--gray);
        font-weight: 700;
        font-size: 20px;
    }

    .burger__link:hover {
        color: var(--green);
    }

    /* card */

    .card{
        margin-bottom: 50px;
    }

    .card__link{
        display: block;
        width: 350px;
        height: 350px;
        position: relative;
        overflow: hidden;
    }

    .card__add{
        width: 100%;
        height: 100%;
        background: var(--green-75);
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        color: var(--white);
        transform: translateY(-100%);
        transition: 0.3s;
    }

    .card__link:hover .card__add{
        transform: translateY(0);
    }

    .card__price {
        font-size: 24px;
        color: var(--lightgray);
        background: var(--green-75);
        display: inline-block;
        padding: 20px 60px;
        transition: 0.5s;
        position: absolute;
        bottom: 1px;
        left: 1px;
        
    }

    .card__link:hover .card__price{
        /* opacity: 0; */
        transform: translateY(100%);
        bottom: 0px;
    }



    .card__title {
        text-transform: uppercase;
        font-weight: 700;
        font-size: 24px;
        color: var(--green);
        margin: 35px 0 15px;
    }

    .card__text {
     color: var(--lightgray);
     line-height: 1.5; 

    }
    /* card end */
/* burger end */

/* recipe */

.recipe {
    background: url('../img/section-bg.jpg') no-repeat center / cover;
    padding: 50px 0 70px;
}

.section-title {
    font-size: 36px;
    font-weight: 700;
    color: var(--green);
    text-transform: uppercase;
    text-align: center;
}

.section-title_line::after {
    content: '';
    display: block;
    width: 200px;
    height: 1px;
    background: var(--green);
    margin: 25px auto 50px;
}

.recipe__text {
    font-size: 18px;
    color: var(--white);
    line-height: 1.3;
    margin-bottom: 30px;
}
  
/* recipe end */

/* branch */

.section-title_margin {
    margin: 50px 0 55px;
}

.branch__map{
    margin-bottom: -4px;
}

/* branch end */

/* footer */

.footer {
    background: var(--black);
    padding: 40px 0 50px;
}

.phone {
    color: var(--darkgreen);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.footer__list {
    margin: 50px 0 40px;
}

.footer__link{
    margin: 0 25px;
    font-weight: 100;
    font-size: 18px;
    color: var(--white);
}

.footer__text {
    color: var(--white);
    font-weight: 100;
}


/* footer end */